@font-face{
  font-family: "PT Sans";
  url("../fonts/ptsans.woff2") format("woff2");
  url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "PT Sans";
  url("../fonts/ptsansbold.woff2") format("woff2");
  url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.feedback { color: black }
.feedback ul { list-style: none }
.feedback p { margin-bottom: 0 }

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.shadow-box {
  width: 100%;
  min-width: 768px;
  max-width: 1200px;
  min-height: 2762px;
  margin: 0 auto;
  background: url("../img/map.png") no-repeat bottom center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}

.main-header {
  width: 100%;
  min-height: 563px;
  min-width: 768px;
  max-width: 1200px;
  position: relative;
  background: url("../img/background-photo.jpg") no-repeat top center;
}

.main-header ul{
  margin: 0;
  padding: 0;
  width: 40%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.site-nav-link {
  display: inline-block;
  padding-top: 15px;
  text-align: center;
  vertical-align: top;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  min-height: 55px;
  background-color: #ffffff;
}

.header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.site-navigation {
  display:  flex;
}

.site-nav-item {
  width: 240px;
  display: inline-block;
  text-align: left;
}

.right .site-nav-item {
  text-align: right;
}

.left .site-nav-item:first-child {
  padding-left: 72px;
}

.right .site-nav-item:last-child {
  padding-right: 72px;
}


.main-container {
  position: relative;
}

.welcome {
  width: 458px;
  height: 352px;
  position: absolute;
  top: -430px;
  left: 50%;
  transform: translateX(-50%);
}

.mask {
  position: absolute;
  top: -57px;
  left: auto;
  width: 100%;

}

.title-container {
  min-height: 215px;
  background-color: #ffffff;
  padding-top: 60px;
}

.site-title {
  position: relative;
  width: 450px;
  min-height: 50px;
  margin: 0 auto 28px auto;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.five-reasons {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.reasons {
}

.reasons ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.reasons h2,
.reasons h3 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}

.reasons p {
  margin: 0;
  padding-top: 25px;
  line-height: 21px;
}


.reason-item:first-child,
.reason-item:nth-child(3) {
  width: 33.33%;
  min-height: 256px;
  padding: 45px 4%;
  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;
}

.reason-item:first-child h2,
.reason-item:nth-child(3) h2 {
  padding: 0 15%;
  color: #ffffff;
}

.number1::after {
  content: "";
  position: absolute;
  top: -0px;
  left: 33.33%;
  width: 66.66%;
  height: 256px;
  background: url("../img/real-town.jpg") no-repeat 0 0;
}

.features-list {
  display: flex;
  min-height: 330px;
  background-color: #ffffff;
}

.features-list p {
  padding-top: 0;
  color: #333333;
}

.features-item {
  width: 33.33%;
  position: relative;
  padding: 160px 4% 15px;
  text-align: center;
}

.features-item:first-child::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 72px;
  background: url("../img/icon-house.png") no-repeat 0 0;
}

.features-item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 74px;
  height: 70px;
  background: url("../img/icon-food.png") no-repeat 0 0;
}

.features-item:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 64px;
  height: 76px;
  background: url("../img/icon-souvenirs.png") no-repeat 0 0;
}

.reason-item:nth-child(3) {
  min-height: 257px;
  margin-left: 66.66%;
}

.number2::before {
  content: "";
  position: absolute;
  top: 587px;
  right: 33.33%;
  width: 66.666%;
  height: 256px;
  background: url("../img/devil-bridge.jpg") no-repeat 0 0;
}

.reasons-sublist {
  display: flex;
  min-height: 255px;
  background-color: #eeeeee;
}

.reasons-sublist span,
.reasons-sublist p {
  color: #333333;
}

.reason-subitem {
  width: 33.333%;
  padding: 45px 5% 15px;
  text-align: center;
}

.reason-subitem {
  padding: 45px 5.5% 15px;
}

.reason-subitem h2 {
  padding: 0 25%;
}

.booking {
  width: 100%;
  min-height: 292px;
  text-align: center;
  background-color: #ffffff;
}

.booking-title {
  margin: 0;
  padding-top: 55px;
  font-size: 30px;
  line-height: 36px;
}

.booking-text {
  margin: 0;
  padding: 23px 0 47px;
}

.booking-form {
  position: relative;
  width: 47.5%;
  margin: 0 auto 474px;
}

.button-search {
  width: 100%;
  min-height: 85px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.modal {
  position: absolute;
  top: 85px;
  left: auto;
  width: 100%;
  min-height: 396px;
  background-color: #ffffff;
  box-shadow: 0 10px 15px 5px rgba(0, 0, 0, .1);
}

.modal fieldset {
  margin: 0;
  padding: 55px 10% 0;
  border: none;
  text-align: left;
}

.modal input {
  width: 65%;
  min-height: 37px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.modal .btn-modal {
  position: relative;
  padding: 0;
  border: none;
  background-color: #ffffff;
}

.modal-date button::after {
  content: "";
  position: absolute;
  top: -24px;
  left: -4px;
  width: 52px;
  height: 37px;
  background: #f2f2f2 url("../img/calendar.svg") no-repeat 21px 7px;
}

.departure .calendar-call::after {
  width: 50px;
  background-position: 18px 7px;
}

.modal-date .departure {
  padding-top: 30px;
}

.arrival-date-field {
  margin-right: 20px;
}

.departure-date-field {
  margin-right: 20px;
}

.modal-quantity {
  display: flex;
  margin-bottom: 54px;
}

.modal-quantity fieldset {
  padding: 30px 0 0 10%;
}

.modal-quantity input {
  width: 114px;
  padding-left: 0;
  text-align: center;
}

.adults-quantity {
  margin-right: 33px;
}

.children-quantity {
  margin:0 20px 0 50px;
}

.modal-quantity .btn-modal {
  position: relative;
}

.modal-quantity .children {
  padding-top: 30px;
}

.increase-quantity::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 15px;
  width: 25px;
  height: 25px;
  background: url("../img/minus.png") no-repeat 0 0;
}

.decrease-quantity::before {
  content: "";
  position: absolute;
  top: -9px;
  left: -31px;
  width: 25px;
  height: 25px;
  background: url("../img/plus.png") no-repeat 0 0;
}

.btn-find {
  width: 80%;
  min-height: 59px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.main-footer {
  display: flex;
  width: 100%;
  min-height: 120px;
  background-color: #ffffff;
}

.main-footer section {
  width: 33.33%;
}

.footer-hashtag {
  padding-top: 45px;
  text-align: center;
}

.hashtag-title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-social {
  padding-top: 36px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.footer-social-list li {
}

.footer-social-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.footer-developer {
  padding: 45px 0 0 103px;
}

.developer-contacts {
  position: relative;
  margin: 0;
}

.developer-link {
  position: absolute;
  top: -8px;
  left: 80px;
}

.hotels {
  min-height: min-content;
  background: none;
}

.hotels-filter {
  width: 100%;
  min-height: 273px;
  padding: 25px 70px 31px;
  color: #ffffff;
  background: url("../img/background-filter.jpg") no-repeat center -56px;
}

.hotels-filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-form {
  display: flex;
  justify-content: space-between;
}

.filter-feature legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 25px;
}

.filter-form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-feature {
  display: flex;
  justify-content: space-between;
  width: 33.33%;
}

.filter-feature label {
  position: relative;
  padding-left: 40px;
}

.filter-feature li {
  margin-bottom: 20px;
}

.filter-feature label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}

.filter-input:checked + label::before {
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

.filter-price {
  width: 30%;
}

.price-title {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.price-range {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-range::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-range label{
  font-size: 14px;
  line-height: 32px;
  vertical-align: top;
  cursor: pointer;
}

.price-range .price-from,
.price-range .price-to {
  width: 90px;
  padding-left: 65px;
}

.price-range input {
  width: 50px;
  margin: 0;
  padding-left: 5px;
  color: #ffffff;
  font-size: 14px;
  line-height: 28px;
  border: none;
  background: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background-color: #938482;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  box-sizing: content-box;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
